.784_7510 { 
	overflow:hidden;
}.e784_7510 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e784_7511 { 
	opacity:0.3400000035762787;
	width:1440px;
	height:1023.9998779296875px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/unsplash_75xpheqbmva.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e810_8237 { 
	background-image:linear-gradient(0deg, rgba(26.42967939376831, 211.43749594688416, 167.03561693429947, 1) 0%,rgba(26.42967939376831, 133.73418867588043, 211.43749594688416, 0.8799999952316284) 100%) ;
	opacity:0.5400000214576721;
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.e785_8352 { 
	width:125px;
	height:50px;
	position:absolute;
	left:30px;
	top:30px;
}.ei785_8352_218_314 { 
	box-shadow:0px 10px 20px rgba(0, 0, 0, 0.03999999910593033);
	background-color:rgba(255, 255, 255, 1);
	width:125px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.ei785_8352_218_315 { 
	color:rgba(40.04296571016312, 151.09544187784195, 213.56249392032623, 1);
	width:52px;
	height:16px;
	position:absolute;
	left:58px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.ei785_8352_218_316 { 
	width:24px;
	height:24px;
	position:absolute;
	left:17px;
	top:13px;
}.i785_8352_218_316_9_24 { 
	border:2px solid rgba(40.04296571016312, 151.09544187784195, 213.56249392032623, 1);
}.ei785_8352_218_316_9_24 { 
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}.i785_8352_218_316_9_25 { 
	border:2px solid rgba(40.04296571016312, 151.09544187784195, 213.56249392032623, 1);
}.ei785_8352_218_316_9_25 { 
	width:5.830003261566162px;
	height:6.0044755935668945px;
	position:absolute;
	left:9.09000015258789px;
	top:6.9955244064331055px;
}.i785_8352_218_316_9_26 { 
	border:2px solid rgba(40.04296571016312, 151.09544187784195, 213.56249392032623, 1);
}.ei785_8352_218_316_9_26 { 
	width:0.010000228881835937px;
	height:0px;
	position:absolute;
	left:12px;
	top:17px;
}.e813_7744 { 
	transform: rotate(164.99999493185211deg);
	background-image:linear-gradient(0deg, rgba(26.42967939376831, 211.43749594688416, 167.03561693429947, 1) 0%,rgba(26.42967939376831, 133.73418867588043, 211.43749594688416, 0.8799999952316284) 100%) ;
	opacity:0.14000000059604645;
	width:1017.2081298828125px;
	height:983.4263305664062px;
	position:absolute;
	left:2058.0771484375px;
	top:695.9168701171875px;
}.e813_7743 { 
	transform: rotate(164.99999493185211deg);
	background-color:rgba(24.136456847190857, 199.75000709295273, 157.6027598977089, 1);
	opacity:0.23999999463558197;
	width:1051.3853759765625px;
	height:957.2332763671875px;
	position:absolute;
	left:1753.310546875px;
	top:1299.6163330078125px;
}.e825_8154 { 
	color:rgba(24.136456847190857, 199.75000709295273, 157.6027598977089, 1);
	width:324px;
	height:16px;
	position:absolute;
	left:1096px;
	top:990px;
	font-family:Open Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}.e1078_12744 { 
	box-shadow:0px 16px 24px rgba(0, 0, 0, 0.05999999865889549);
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:589px;
	position:absolute;
	left:470px;
	top:218px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e1078_12745 { 
	width:500px;
	height:135px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/unsplash_75xpheqbmva.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1078_12746 { 
	background-image:linear-gradient(0deg, rgba(26.42967939376831, 211.43749594688416, 167.03561693429947, 1) 0%,rgba(26.42967939376831, 133.73418867588043, 211.43749594688416, 0.8799999952316284) 100%) ;
	width:500px;
	height:135px;
	position:absolute;
	left:0px;
	top:0px;
}.e1078_12747 { 
	color:rgba(255, 255, 255, 1);
	width:124px;
	height:65px;
	position:absolute;
	left:20px;
	top:25px;
	font-family:Open Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1078_12748 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:19px;
	position:absolute;
	left:22px;
	top:90px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1078_12749 { 
	width:400px;
	height:68px;
	position:absolute;
	left:50px;
	top:403px;
}.ei1078_12749_1078_12521 { 
	background-color:rgba(24.136456847190857, 199.75000709295273, 157.6027598977089, 1);
	width:400px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.ei1078_12749_1078_12522 { 
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:25px;
	position:absolute;
	left:171px;
	top:22px;
	font-family:Open Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e1078_12750 { 
	width:400px;
	height:68px;
	position:absolute;
	left:50px;
	top:491px;
}.i1078_12750_1078_12534 { 
	border:2px solid rgba(24.136456847190857, 199.75000709295273, 157.6027598977089, 1);
}.ei1078_12750_1078_12534 { 
	width:400px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.ei1078_12750_1078_12535 { 
	color:rgba(24.136456847190857, 199.75000709295273, 157.6027598977089, 1);
	width:169px;
	height:25px;
	position:absolute;
	left:116px;
	top:22px;
	font-family:Open Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e1078_12751 { 
	width:400px;
	height:89px;
	position:absolute;
	left:50px;
	top:165px;
}.ei1078_12751_241_1487 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:400px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.ei1078_12751_241_1488 { 
	color:rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
	width:31px;
	height:16px;
	position:absolute;
	left:20px;
	top:7px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.ei1078_12751_241_1489 { 
	width:360px;
	height:24px;
	position:absolute;
	left:20px;
	top:22px;
}.ei1078_12751_241_1491 { 
	width:326px;
	height:19px;
	position:absolute;
	left:0px;
	top:2.5px;
}.ei1078_12751_241_1492 { 
	color:rgba(27.62500025331974, 27.62500025331974, 27.62500025331974, 1);
	width:326px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.ei1078_12751_241_1494 { 
	width:24px;
	height:24px;
	position:absolute;
	left:336px;
	top:0px;
}.i1078_12751_241_1494_219_675 { 
	border:2px solid rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
}.ei1078_12751_241_1494_219_675 { 
	width:12px;
	height:12px;
	position:absolute;
	left:6px;
	top:6px;
}.i1078_12751_241_1494_219_676 { 
	border:2px solid rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
}.ei1078_12751_241_1494_219_676 { 
	width:12px;
	height:12px;
	position:absolute;
	left:6px;
	top:6px;
}.e1078_12752 { 
	width:400px;
	height:89px;
	position:absolute;
	left:50px;
	top:254px;
}.ei1078_12752_241_1487 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:400px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.ei1078_12752_241_1488 { 
	color:rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
	width:60px;
	height:16px;
	position:absolute;
	left:20px;
	top:7px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.ei1078_12752_241_1489 { 
	width:360px;
	height:24px;
	position:absolute;
	left:20px;
	top:22px;
}.ei1078_12752_241_1491 { 
	width:326px;
	height:19px;
	position:absolute;
	left:0px;
	top:2.5px;
}.ei1078_12752_241_1492 { 
	color:rgba(27.62500025331974, 27.62500025331974, 27.62500025331974, 1);
	width:326px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.ei1078_12752_241_1494 { 
	width:24px;
	height:24px;
	position:absolute;
	left:336px;
	top:0px;
}.i1078_12752_241_1494_219_715 { 
	border:2px solid rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
}.ei1078_12752_241_1494_219_715 { 
	width:22px;
	height:16.000024795532227px;
	position:absolute;
	left:1px;
	top:3.9999747276306152px;
}.i1078_12752_241_1494_219_716 { 
	border:2px solid rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
}.ei1078_12752_241_1494_219_716 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1px;
	top:1px;
}.e1078_12753 { 
	width:400px;
	height:89px;
	position:absolute;
	left:50px;
	top:264px;
}.ei1078_12753_241_1487 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:400px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.ei1078_12753_241_1488 { 
	color:rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
	width:60px;
	height:16px;
	position:absolute;
	left:20px;
	top:7px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.ei1078_12753_241_1489 { 
	width:360px;
	height:24px;
	position:absolute;
	left:20px;
	top:22px;
}.ei1078_12753_241_1491 { 
	width:326px;
	height:19px;
	position:absolute;
	left:0px;
	top:2.5px;
}.ei1078_12753_241_1492 { 
	color:rgba(27.62500025331974, 27.62500025331974, 27.62500025331974, 1);
	width:326px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.ei1078_12753_241_1494 { 
	width:24px;
	height:24px;
	position:absolute;
	left:336px;
	top:0px;
}.i1078_12753_241_1494_219_715 { 
	border:2px solid rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
}.ei1078_12753_241_1494_219_715 { 
	width:22px;
	height:16.000024795532227px;
	position:absolute;
	left:1px;
	top:3.9999747276306152px;
}.i1078_12753_241_1494_219_716 { 
	border:2px solid rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
}.ei1078_12753_241_1494_219_716 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1px;
	top:1px;
}.e1153_11569 { 
	width:100px;
	height:70px;
	position:absolute;
	left:380px;
	top:33px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/frame_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}